.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--charcoal);
}

.login-card {
  color: white;
}

.login-card input {
  background: white;
  width: 100%;
  border-radius: 10px;
  padding: 12px;
  padding-top: 14px;
  border: none;
  margin: 5px 0;
  outline: none;
  font-size: 17px;
}

.signup-card {
  background-color: var(--smokey);
  border-radius: 25px;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-card input {
  border: 1px solid rgb(216, 216, 216);
  background-color: white;
  width: 100%;
  border-radius: 10px;
  padding: 12px;
  padding-top: 14px;
  border: none;
  margin: 5px 0;
  outline: none;
  font-size: 17px;

}

.submit {
  background: var(--orange);
  color: white;
  padding: 8px 20px;
  border-radius: 5px;
}

.submit i {
  font-size: 20px;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0;
}

.button-container a {
  border-bottom: 1px solid white;
  margin: 0 10px;
}

.input-holder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-holder input:nth-child(1){
  margin-right: 10px;
} 

.error-container {
  background: rgb(255, 115, 115);
  color: white;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
}




